<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ #pageTitle}}
    <title>{{ h.defaultPageTitle}}</title>
    {{ /pageTitle}}
    <link rel="stylesheet"  href="/assets/css/admin.template.css">
</head>
<body>
    <nav>
        <div  class="nav--top">
            <a href="/admin">
                 <img src="/assets/images/pages.png'" width="50">
            </a>
        </div>

        <div class="nav--botton">
            <a href="/admin/logout">
                <img src="/assets/images/logout.png" width="50">
             </a>
        </div>
    </nav>
   
    
</body>
</html>