<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LinkTree Login</title>
    <link rel="stylesheet"  href="/assets/css/admin.login.css'" >
</head>
<body>
    <div class="loginArea">
        <h1>Register</h1>

        {{#flashes}}
        
            {{#success}}
                <div class="success">{{.}}</div>
            {{/success}}

            {{#error}}
                <div class="error">{{.}}</div>
            {{/error}}

            {{#info}}
                <div class="info">{{.}}</div> 
            {{/info}}
        
    {{/flashes}}
    
        <form method="POST">
            
             <input type="email" name="email" placeholder="Enter com seu e-mail">
            <input type="password" name="password" placeholder="Enter com sua senha"> 
            <input type="submit" value="Registrar">
        Já cadastrado? <a href="admin/login'">Login</a>
        </form>
    </div>
</body>
</html>